* {
    box-sizing: content-box;
    color: #777777;
}

nav {
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

a.nav-link {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #4aaaa5;
}

h5 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #ffffff;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: #666666;
}

.card {
    margin: 1rem auto;
    position: relative; 
}
  
.card-body {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}